.nav {
    display: flex;
    background-color: pink;
    text-decoration: none;
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li a:hover {
    background-color: #f2f2f2;
  }