<!--<p>home works!</p>-->
<div class="home-container">
<h2>Welcome {{username}}</h2>
<!--<nav class="nav">
    <ul>
      <li><a routerLink="/home/main">Main | </a></li>
      <li><a routerLink="/home/notes-list">Notes |</a></li>
      
    </ul>
</nav>-->
    <nav class="nav">
        <ul>
          <li><a routerLink="/home/main">Home |</a></li>
          <li><a routerLink="/home/notes-list">Notes |</a></li>
          <li><a routerLink="/login">LogOut</a></li>
        </ul>
    </nav>
    
<router-outlet></router-outlet>

</div>

<!--backend run: node main.js-->